@font-face {
  font-family: "DINosaur";
  src: url('../fonts/DINosaur/DINosaur-Light.woff');
  src: url('../fonts/DINosaur/DINosaur-Light.eot') format('embedded-opentype'),
  url('../fonts/DINosaur/DINosaur-Light.woff2') format('woff2'),
  url('../fonts/DINosaur/DINosaur-Light.woff') format('woff'),
  url('../fonts/DINosaur/DINosaur-Light.ttf') format('truetype'),
  url('../fonts/DINosaur/DINosaur-Light.svg#DINosaur-Light') format('svg');

  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "DINosaur";
  src: url('../fonts/DINosaur/DINosaur-Regular.woff');
  src: url('../fonts/DINosaur/DINosaur-Regular.eot') format('embedded-opentype'),
  url('../fonts/DINosaur/DINosaur-Regular.woff2') format('woff2'),
  url('../fonts/DINosaur/DINosaur-Regular.woff') format('woff'),
  url('../fonts/DINosaur/DINosaur-Regular.ttf') format('truetype'),
  url('../fonts/DINosaur/DINosaur-Regular.svg#DINosaur-Regular') format('svg');

  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "DINosaur";
  src: url('../fonts/DINosaur/DINosaur-Medium.woff');
  src: url('../fonts/DINosaur/DINosaur-Medium.eot') format('embedded-opentype'),
  url('../fonts/DINosaur/DINosaur-Medium.woff2') format('woff2'),
  url('../fonts/DINosaur/DINosaur-Medium.woff') format('woff'),
  url('../fonts/DINosaur/DINosaur-Medium.ttf') format('truetype'),
  url('../fonts/DINosaur/DINosaur-Medium.svg#DINosaur-Medium') format('svg');

  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "DINosaur";
  src: url('../fonts/DINosaur/DINosaur-Bold.woff');
  src: url('../fonts/DINosaur/DINosaur-Bold.eot') format('embedded-opentype'),
  url('../fonts/DINosaur/DINosaur-Bold.woff2') format('woff2'),
  url('../fonts/DINosaur/DINosaur-Bold.woff') format('woff'),
  url('../fonts/DINosaur/DINosaur-Bold.ttf') format('truetype'),
  url('../fonts/DINosaur/DINosaur-Bold.svg#DINosaur-Bold') format('svg');

  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "DINosaur";
  src: url('../fonts/DINosaur/DINosaur-ExtraBold.woff');
  src: url('../fonts/DINosaur/DINosaur-ExtraBold.eot') format('embedded-opentype'),
  url('../fonts/DINosaur/DINosaur-ExtraBold.woff2') format('woff2'),
  url('../fonts/DINosaur/DINosaur-ExtraBold.woff') format('woff'),
  url('../fonts/DINosaur/DINosaur-ExtraBold.ttf') format('truetype'),
  url('../fonts/DINosaur/DINosaur-ExtraBold.svg#DINosaur-ExtraBold') format('svg');

  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "DINosaur";
  src: url('../fonts/DINosaur/DINosaur-Black.woff');
  src: url('../fonts/DINosaur/DINosaur-Black.eot') format('embedded-opentype'),
  url('../fonts/DINosaur/DINosaur-Black.woff2') format('woff2'),
  url('../fonts/DINosaur/DINosaur-Black.woff') format('woff'),
  url('../fonts/DINosaur/DINosaur-Black.ttf') format('truetype'),
  url('../fonts/DINosaur/DINosaur-Black.svg#DINosaur-Black') format('svg');

  font-style: normal;
  font-weight: 900;
}

// Din Pro

@font-face {
  font-family: "DINPro";
  src: url('../fonts/DINPro/DINPro-Regular.woff');
  src: url('../fonts/DINPro/DINPro-Regular.eot') format('embedded-opentype'),
  url('../fonts/DINPro/DINPro-Regular.woff2') format('woff2'),
  url('../fonts/DINPro/DINPro-Regular.woff') format('woff'),
  url('../fonts/DINPro/DINPro-Regular.ttf') format('truetype'),
  url('../fonts/DINPro/DINPro-Regular.svg#DINPro-Regular') format('svg');

  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "DINPro";
  src: url('../fonts/DINPro/DINPro-Medium.woff');
  src: url('../fonts/DINPro/DINPro-Medium.eot') format('embedded-opentype'),
  url('../fonts/DINPro/DINPro-Medium.woff2') format('woff2'),
  url('../fonts/DINPro/DINPro-Medium.woff') format('woff'),
  url('../fonts/DINPro/DINPro-Medium.ttf') format('truetype'),
  url('../fonts/DINPro/DINPro-Medium.svg#DINPro-Medium') format('svg');

  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "DINPro";
  src: url('../fonts/DINPro/DINPro-Bold.woff');
  src: url('../fonts/DINPro/DINPro-Bold.eot') format('embedded-opentype'),
  url('../fonts/DINPro/DINPro-Bold.woff2') format('woff2'),
  url('../fonts/DINPro/DINPro-Bold.woff') format('woff'),
  url('../fonts/DINPro/DINPro-Bold.ttf') format('truetype'),
  url('../fonts/DINPro/DINPro-Bold.svg#DINPro-Bold') format('svg');

  font-style: normal;
  font-weight: 700;
}

// Mencken Std

@font-face {
  font-family: "Mencken Std";
  src: url('../fonts/MenckenSTD/Mencken-Std-Regular.woff');
  src: url('../fonts/MenckenSTD/Mencken-Std-Regular.eot') format('embedded-opentype'),
  url('../fonts/MenckenSTD/Mencken-Std-Regular.woff2') format('woff2'),
  url('../fonts/MenckenSTD/Mencken-Std-Regular.woff') format('woff'),
  url('../fonts/MenckenSTD/Mencken-Std-Regular.ttf') format('truetype'),
  url('../fonts/MenckenSTD/Mencken-Std-Regular.svg#Mencken-Std-Regular') format('svg');

  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Mencken Std";
  src: url('../fonts/MenckenSTD/Mencken-Std-Bold.woff');
  src: url('../fonts/MenckenSTD/Mencken-Std-Bold.eot') format('embedded-opentype'),
  url('../fonts/MenckenSTD/Mencken-Std-Bold.woff2') format('woff2'),
  url('../fonts/MenckenSTD/Mencken-Std-Bold.woff') format('woff'),
  url('../fonts/MenckenSTD/Mencken-Std-Bold.ttf') format('truetype'),
  url('../fonts/MenckenSTD/Mencken-Std-Bold.svg#DINosaur-Regular') format('svg');

  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Mencken Std";
  src: url('../fonts/MenckenSTD/Mencken-Std-ExtraBold.woff');
  src: url('../fonts/MenckenSTD/Mencken-Std-ExtraBold.eot') format('embedded-opentype'),
  url('../fonts/MenckenSTD/Mencken-Std-ExtraBold.woff2') format('woff2'),
  url('../fonts/MenckenSTD/Mencken-Std-ExtraBold.woff') format('woff'),
  url('../fonts/MenckenSTD/Mencken-Std-ExtraBold.ttf') format('truetype'),
  url('../fonts/MenckenSTD/Mencken-Std-ExtraBold.svg#Mencken-Std-ExtraBold') format('svg');

  font-style: normal;
  font-weight: 800;
}

// icons

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icons/icomoon.eot?5kiojs');
  src: url('../fonts/icons/icomoon.eot?5kiojs#iefix') format('embedded-opentype'),
  url('../fonts/icons/icomoon.ttf?5kiojs') format('truetype'),
  url('../fonts/icons/icomoon.woff?5kiojs') format('woff'),
  url('../fonts/icons/icomoon.svg?5kiojs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
