$phones-mini: 320px;
$phones: 400px;
$phones-big: 565px;
$tablets: 767px;
$tablets-big: 991px;
$desktop: 1199px;
$full-hd: 1440px;

$black: #000;
$white: #fff;
$brown: #52443D;
$grey: #6F6F6F;
$light_grey: #F3F2F3;
$light_grey2: #EBEBEB;
$blue: #156D82;
$header_blue: #156d82;
$blue2: #238096;
$pink: #C16F92;
$dark_pink: #CB4898;
$light_blue: #5AE3FB;
$light_blue2: #27E3FB;
$dark_blue: #222247;
$border_color: #707070;
$opacity: rgba(34,34,71,.9);
$grey_opacity: rgba(230, 230, 230, .6);
$overlay: rgba(0,0,0, .35);
$overlay_dark: rgba(0,0,0, .8);
$preloader_bg: #53E2F9;

$mench: 'Mencken Std';
$dino: 'DINosaur';
$dinPro: 'DINPro';
